### LionAGI pile

pile object is used throughout lionagi system

In [1]:
import lionagi as li

In [2]:
# let us create some nodes and put into pile

nodes1 = [li.Node(content=i) for i in ["A", "B", "C"]]
nodes2 = [li.Node(content=i) for i in ["D", "E", "F"]]

p1 = li.pile(nodes1)
p2 = li.pile(nodes2)

In [3]:
## addition

(p1 + p2).to_df()

,ln_id,created,metadata,content,relations
0,f942d2db889b6882492e91d553bcf740,2024-05-08T03:23:04.377916,{},A,"{'ln_id': '062b64ef812b6710299e36b37fc05f35', ..."
1,939b0dbbd7541d1ef5cff50ca0ec176a,2024-05-08T03:23:04.377974,{},B,"{'ln_id': 'a9e93344744b27b8bc9c7890fdae5b71', ..."
2,b7aeaaf4998e1625e0c6d4dff0878df2,2024-05-08T03:23:04.378117,{},C,"{'ln_id': 'b082c772cc2fa3c108b238a23fd61460', ..."
3,1fe196f538cb2265f244a1277e0b6450,2024-05-08T03:23:04.378208,{},D,"{'ln_id': '4aead0a5bce0b8aadf64534c123249f7', ..."
4,b2968d5f6513def13de74c0bbfb3de53,2024-05-08T03:23:04.378240,{},E,"{'ln_id': 'd089df638c1f549704c955f58aae565a', ..."
5,86b0399405fb7c231bf2eadd102e6179,2024-05-08T03:23:04.378276,{},F,"{'ln_id': 'd5f686d4a6e8be5ded9b6634f42614c5', ..."

In [4]:
## subtraction

try:
    (p1 - p2).to_df()
except Exception as e:
    print(e)

Item not found. Item: '                              ln_id                     created metadata  \
0  1fe196f538cb2265f244a1277e0b6450  2024-05-08T03:23:04.378208       {}
1  b2968d5f6513def13de74c0bbfb3de53  2024-05-08T03:23:04.378240       {}
2  86b0399405fb7c231bf2eadd102e6179  2024-05-08T03:23:04.378276       {}

  content                                          relations
0       D  {'ln_id': '4aead0a5bce0b8aadf64534c123249f7', ...
1       E  {'ln_id': 'd089df638c1f549704c955f58aae565a', ...
2       F  {'ln_id': 'd5f686d4a6e8be5ded9b6634f42614c5', ...  '.

In [5]:
## containment

p1 in p2

False

In [6]:
## inclusion

print(p1.include(p2))
p1.to_df()

True

,ln_id,created,metadata,content,relations
0,f942d2db889b6882492e91d553bcf740,2024-05-08T03:23:04.377916,{},A,"{'ln_id': '062b64ef812b6710299e36b37fc05f35', ..."
1,939b0dbbd7541d1ef5cff50ca0ec176a,2024-05-08T03:23:04.377974,{},B,"{'ln_id': 'a9e93344744b27b8bc9c7890fdae5b71', ..."
2,b7aeaaf4998e1625e0c6d4dff0878df2,2024-05-08T03:23:04.378117,{},C,"{'ln_id': 'b082c772cc2fa3c108b238a23fd61460', ..."
3,1fe196f538cb2265f244a1277e0b6450,2024-05-08T03:23:04.378208,{},D,"{'ln_id': '4aead0a5bce0b8aadf64534c123249f7', ..."
4,b2968d5f6513def13de74c0bbfb3de53,2024-05-08T03:23:04.378240,{},E,"{'ln_id': 'd089df638c1f549704c955f58aae565a', ..."
5,86b0399405fb7c231bf2eadd102e6179,2024-05-08T03:23:04.378276,{},F,"{'ln_id': 'd5f686d4a6e8be5ded9b6634f42614c5', ..."

In [7]:
## exclusion

print(p1.exclude(p2))
p1.to_df()

True

,ln_id,created,metadata,content,relations
0,f942d2db889b6882492e91d553bcf740,2024-05-08T03:23:04.377916,{},A,"{'ln_id': '062b64ef812b6710299e36b37fc05f35', ..."
1,939b0dbbd7541d1ef5cff50ca0ec176a,2024-05-08T03:23:04.377974,{},B,"{'ln_id': 'a9e93344744b27b8bc9c7890fdae5b71', ..."
2,b7aeaaf4998e1625e0c6d4dff0878df2,2024-05-08T03:23:04.378117,{},C,"{'ln_id': 'b082c772cc2fa3c108b238a23fd61460', ..."

In [8]:
## get item

aa = p1[1]
aa

ln_id        939b0dbbd7541d1ef5cff50ca0ec176a
created            2024-05-08T03:23:04.377974
metadata                                   {}
content                                     B
relations                              [0, 0]
dtype: object

In [9]:
## set item

p1[0] = li.Node(content="have a good day")
p1.to_df()

,ln_id,created,metadata,content,relations
0,d86504d1011592f34906c18dade97b1e,2024-05-08T03:23:04.431568,{},have a good day,"{'ln_id': '275ff865f7cab0a1ad7d4d794c84a38f', ..."
1,939b0dbbd7541d1ef5cff50ca0ec176a,2024-05-08T03:23:04.377974,{},B,"{'ln_id': 'a9e93344744b27b8bc9c7890fdae5b71', ..."
2,b7aeaaf4998e1625e0c6d4dff0878df2,2024-05-08T03:23:04.378117,{},C,"{'ln_id': 'b082c772cc2fa3c108b238a23fd61460', ..."

In [10]:
## other
node = li.Node(content="hello world")
p1 += node
p1.to_df()

,ln_id,created,metadata,content,relations
0,d86504d1011592f34906c18dade97b1e,2024-05-08T03:23:04.431568,{},have a good day,"{'ln_id': '275ff865f7cab0a1ad7d4d794c84a38f', ..."
1,939b0dbbd7541d1ef5cff50ca0ec176a,2024-05-08T03:23:04.377974,{},B,"{'ln_id': 'a9e93344744b27b8bc9c7890fdae5b71', ..."
2,b7aeaaf4998e1625e0c6d4dff0878df2,2024-05-08T03:23:04.378117,{},C,"{'ln_id': 'b082c772cc2fa3c108b238a23fd61460', ..."
3,050b80bb4c2b0f13c7245aa3d8e45723,2024-05-08T03:23:04.440280,{},hello world,"{'ln_id': '1fece1f241151cff8ec03df8c7e12f59', ..."

In [11]:
p1 -= nodes1[1]
p1.to_df()

,ln_id,created,metadata,content,relations
0,d86504d1011592f34906c18dade97b1e,2024-05-08T03:23:04.431568,{},have a good day,"{'ln_id': '275ff865f7cab0a1ad7d4d794c84a38f', ..."
1,b7aeaaf4998e1625e0c6d4dff0878df2,2024-05-08T03:23:04.378117,{},C,"{'ln_id': 'b082c772cc2fa3c108b238a23fd61460', ..."
2,050b80bb4c2b0f13c7245aa3d8e45723,2024-05-08T03:23:04.440280,{},hello world,"{'ln_id': '1fece1f241151cff8ec03df8c7e12f59', ..."