In [1]:
import lionagi as li

In [2]:
# lets create a simple flow
# 1. create a pile of nodes

nodes1 = [li.Node(content=i) for i in range(10)]
p1 = li.pile(nodes1)

In [3]:
# let us check what's inside p1

p1.to_df()

,ln_id,created,metadata,content,relations
0,f92622fe94fe089dc63e87bc06de0665,2024-05-07T20:00:31.148929,{},0,"{'ln_id': '35694c43df669155253d8ba14aa8d6ff', ..."
1,0b7cee4950cc90e26938e31b9848747f,2024-05-07T20:00:31.148996,{},1,"{'ln_id': 'f94f0cee1aa37d01c8fc6517844f828a', ..."
2,277217264f30416420463850dfdcec0d,2024-05-07T20:00:31.149043,{},2,"{'ln_id': '8388c3153e455c22f52d31c6535607ac', ..."
3,c56b75509ec5aa5cfd1b3de533941fff,2024-05-07T20:00:31.149082,{},3,"{'ln_id': '363f3afa2024c6a6b269e3fedf98463b', ..."
4,fe5961e45bc35fa5919290e239d07a95,2024-05-07T20:00:31.149134,{},4,"{'ln_id': '805cd3a689bedae45d19ab8a7e1da36e', ..."
5,f386229d1ee97ab41bbf716cabf3ee71,2024-05-07T20:00:31.149443,{},5,"{'ln_id': 'b3ef46d4526af7bae05c145b14867d26', ..."
6,213c2189e94f14577093f02d727f6c0a,2024-05-07T20:00:31.149494,{},6,"{'ln_id': '543a329d89fcc2d2fe8a6b8d43680770', ..."
7,dea64ccc3d36a968d7b0e8afa260ed10,2024-05-07T20:00:31.149539,{},7,"{'ln_id': '4d7754cba3e1d13675a7feccdaa0d8ce', ..."
8,ecc5dbf9a80a2fb3c1cbeb89eb319346,2024-05-07T20:00:31.149616,{},8,"{'ln_id': '213b6014f13085c6e498cc0bb0878d93', ..."
9,1b52650784e3c2287ad7ea5a19587580,2024-05-07T20:00:31.149647,{},9,"{'ln_id': '429884a8b305e156e47ea1eeb8be5b3c', ..."

In [4]:
# now let us create somke progression,

prog1 = li.prog(p1[:5])
prog2 = li.prog(p1[5:])

In [5]:
len(prog1)

5

In [6]:
sequences = li.pile([prog1, prog2])

In [7]:
f1 = li.flow(sequences)

In [8]:
f1.to_df()

,ln_id,created,metadata,content,name,order
0,b21db461011905ffa356d9ef74536d61,2024-05-07T20:00:31.166996,{},None,None,"[f92622fe94fe089dc63e87bc06de0665, 0b7cee4950c..."
1,a98940543660008f6d68f40ebf0b33a2,2024-05-07T20:00:31.167051,{},None,None,"[f386229d1ee97ab41bbf716cabf3ee71, 213c2189e94..."

In [9]:
sequences = li.pile(p1[:5])

In [10]:
f1 = li.flow(sequences)

In [11]:
f1.to_df()

,ln_id,created,metadata,content,name,order
0,db78991e3865428bcbc914fc468fdccb,2024-05-07T20:00:31.193099,{},None,f92622fe94fe089dc63e87bc06de0665,[f92622fe94fe089dc63e87bc06de0665]
1,86c0c5b0a380a48f907cb03992f16f93,2024-05-07T20:00:31.193125,{},None,0b7cee4950cc90e26938e31b9848747f,[0b7cee4950cc90e26938e31b9848747f]
2,3760a492abedcb42647da9dbcedf7db6,2024-05-07T20:00:31.193140,{},None,277217264f30416420463850dfdcec0d,[277217264f30416420463850dfdcec0d]
3,5e03a30f86eb153983154a1fbe153c8f,2024-05-07T20:00:31.193206,{},None,c56b75509ec5aa5cfd1b3de533941fff,[c56b75509ec5aa5cfd1b3de533941fff]
4,b7e75692a144088e825f711ef6fee68f,2024-05-07T20:00:31.193223,{},None,fe5961e45bc35fa5919290e239d07a95,[fe5961e45bc35fa5919290e239d07a95]

In [12]:
# let us begin with creating a few nodes

nodes = [li.Node(content=i) for i in ["A", "B", "C", "D", "E", "F", "G", "H"]]
print(nodes[0])

ln_id        50f4d765f68efb0586dec94be7fea860
created            2024-05-07T20:00:31.202560
metadata                                   {}
content                                     A
relations                              [0, 0]
dtype: object

In [13]:
# now let us put these into a pile, a lionagi data structure that can be used to store lionagi obejcts
p1 = li.pile(nodes)

# you can check the details of each node by converting the pile to a dataframe
p1.to_df().head()

,ln_id,created,metadata,content,relations
0,50f4d765f68efb0586dec94be7fea860,2024-05-07T20:00:31.202560,{},A,"{'ln_id': '342ad054ecd8571cc1cb1df9830ce809', ..."
1,ccf8195c9cd7b8edda4393592cd835a7,2024-05-07T20:00:31.202613,{},B,"{'ln_id': '341708bc58eee1b9b2044d20890e7b40', ..."
2,0db425658edeaefa9afa47e749569fe9,2024-05-07T20:00:31.202645,{},C,"{'ln_id': '8a40907ddccd87fc4cea98c7ac87c7f8', ..."
3,7c0a9e109589acbbb9eb23befdccb090,2024-05-07T20:00:31.202680,{},D,"{'ln_id': 'fe7fffc4cbf9dd2b28fb87ec36f9d323', ..."
4,2845982685f069b4b7c0a066945b8cda,2024-05-07T20:00:31.202715,{},E,"{'ln_id': 'aae3a2376388187ed12ab3de44470f07', ..."

In [14]:
# if you wish to see the all information of a particular node you can also

p1[0].to_dict()

{'ln_id': '50f4d765f68efb0586dec94be7fea860',
 'created': '2024-05-07T20:00:31.202560',
 'metadata': {},
 'content': 'A',
 'relations': {'ln_id': '342ad054ecd8571cc1cb1df9830ce809',
  'created': '2024-05-07T20:00:31.202599',
  'metadata': {},
  'extra_fields': {},
  'content': None,
  'categories': {'in': {'ln_id': '673dc526022d2f09fcb0e1757a1acb63',
    'created': '2024-05-07T20:00:31.202577',
    'metadata': {},
    'extra_fields': {},
    'content': None,
    'items': {},
    'item_type': None,
    'name': None},
   'out': {'ln_id': 'c0d396331770c6b3f4016d4e35a1aaaa',
    'created': '2024-05-07T20:00:31.202588',
    'metadata': {},
    'extra_fields': {},
    'content': None,
    'items': {},
    'item_type': None,
    'name': None}}}}

In [15]:
# using progression, you can use progression to keep track of orders of nodes

prog1 = li.prog(nodes[:5])
prog2 = li.prog(nodes[5:])


# the item in a progression is a list of lionagi object id in order
prog1.order[0]

'50f4d765f68efb0586dec94be7fea860'

In [16]:
prog1[0]

'50f4d765f68efb0586dec94be7fea860'

In [17]:
# you can also name the progression
prog1.name = "left"
prog2.name = "right"

# now let us put these into a flow
p2 = li.pile([prog1, prog2])
f1 = li.flow(p2)

In [18]:
prog1.name

'left'

In [19]:
f1

ln_id                            bb77c4cc2738f4a3e54aed7fa85a5d91
created                                2024-05-07T20:00:31.241594
metadata                                                       {}
content                                                      None
sequences       {'ln_id': 'a2ef423d0de076182586e43c3ae392cd', ...
registry        {'7e2d7dc842fbf2b419dcaea390d0739f': '7e2d7dc8...
default_name                                                 main
class_name                                                   Flow
dtype: object

In [20]:
f1.get("left")

Progression(['50f4d765f68efb0586dec94be7fea860', 'ccf8195c9cd7b8edda4393592cd835a7', '0db425658edeaefa9afa47e749569fe9', '7c0a9e109589acbbb9eb23befdccb090', '2845982685f069b4b7c0a066945b8cda'])

In [21]:
f1.sequences["left"]

Progression(['50f4d765f68efb0586dec94be7fea860', 'ccf8195c9cd7b8edda4393592cd835a7', '0db425658edeaefa9afa47e749569fe9', '7c0a9e109589acbbb9eb23befdccb090', '2845982685f069b4b7c0a066945b8cda'])

In [22]:
# iterate over each progression value
for i in f1.all_orders():
    print(i)

['50f4d765f68efb0586dec94be7fea860', 'ccf8195c9cd7b8edda4393592cd835a7', '0db425658edeaefa9afa47e749569fe9', '7c0a9e109589acbbb9eb23befdccb090', '2845982685f069b4b7c0a066945b8cda']
['bf115436e42e3a313d28c6a1328e6377', '9867d26a691ba09e096f6807a2250ede', '07dad3aa2acae83ceeb5aaee24a62b1a']

In [23]:
f1[0]

Progression(['50f4d765f68efb0586dec94be7fea860', 'ccf8195c9cd7b8edda4393592cd835a7', '0db425658edeaefa9afa47e749569fe9', '7c0a9e109589acbbb9eb23befdccb090', '2845982685f069b4b7c0a066945b8cda'])

In [24]:
f1.sequences

                              ln_id                     created  \
0  7e2d7dc842fbf2b419dcaea390d0739f  2024-05-07T20:00:31.221259
1  e299b56178e8105c71b21b7b8c74fe8d  2024-05-07T20:00:31.221326

                                            metadata content   name  \
0  {'last_updated': {'name': (1, '2024-05-07T20:0...    None   left
1  {'last_updated': {'name': (1, '2024-05-07T20:0...    None  right

                                               order
0  [50f4d765f68efb0586dec94be7fea860, ccf8195c9cd...
1  [bf115436e42e3a313d28c6a1328e6377, 9867d26a691...

In [25]:
f1.get("left")

Progression(['50f4d765f68efb0586dec94be7fea860', 'ccf8195c9cd7b8edda4393592cd835a7', '0db425658edeaefa9afa47e749569fe9', '7c0a9e109589acbbb9eb23befdccb090', '2845982685f069b4b7c0a066945b8cda'])

In [26]:
f1["left"][1:3]

['ccf8195c9cd7b8edda4393592cd835a7', '0db425658edeaefa9afa47e749569fe9']

In [27]:
f1[prog1][1:3]

['ccf8195c9cd7b8edda4393592cd835a7', '0db425658edeaefa9afa47e749569fe9']

In [28]:
prog1[1:3]

['ccf8195c9cd7b8edda4393592cd835a7', '0db425658edeaefa9afa47e749569fe9']

In [29]:
# sequences in a flow is a pile of progression objects
# unlike a pile, which can only contain unique lionagi objects, a progression can have more than one occurance of ln_id,

f1.sequences.to_df()

,ln_id,created,metadata,content,name,order
0,7e2d7dc842fbf2b419dcaea390d0739f,2024-05-07T20:00:31.221259,"{'last_updated': {'name': (1, '2024-05-07T20:0...",None,left,"[50f4d765f68efb0586dec94be7fea860, ccf8195c9cd..."
1,e299b56178e8105c71b21b7b8c74fe8d,2024-05-07T20:00:31.221326,"{'last_updated': {'name': (1, '2024-05-07T20:0...",None,right,"[bf115436e42e3a313d28c6a1328e6377, 9867d26a691..."