In [1]:
from lionagi.core.generic import Node

In [2]:
# create 10 nodes
a, b, c = Node(), Node(), Node()

In [3]:
a.relate(b,"out")       # outgoing relation, a is head
a.relate(c,"in")        # incoming relation, a is tail

In [4]:
a.predecessors

['098acfd938f85e4940a9d2caf1bc0f11']

In [5]:
a.successors

['0a57381d2ccdc17a5773eed2f98cdaaa']

In [6]:
for i in a.edges:
    print(i)

ln_id         10d6ae3151651976f770ef3332e63f43
created             2024-05-14T18:09:10.513156
metadata                                    {}
content                                   None
head          098acfd938f85e4940a9d2caf1bc0f11
tail          77aaac22f1b5abcb3c63bfb624c142a3
condition                                 None
label                                     None
bundle                                   False
class_name                                Edge
dtype: object
ln_id         bf0e358eb8e832f9c27ffa42e43fa972
created             2024-05-14T18:09:10.512921
metadata                                    {}
content                                   None
head          77aaac22f1b5abcb3c63bfb624c142a3
tail          0a57381d2ccdc17a5773eed2f98cdaaa
condition                                 None
label                                     None
bundle                                   False
class_name                                Edge
dtype: object

In [7]:
a.related_nodes

['098acfd938f85e4940a9d2caf1bc0f11', '0a57381d2ccdc17a5773eed2f98cdaaa']

In [8]:
a.node_relations

{'out': {'0a57381d2ccdc17a5773eed2f98cdaaa': [ln_id         bf0e358eb8e832f9c27ffa42e43fa972
   created             2024-05-14T18:09:10.512921
   metadata                                    {}
   content                                   None
   head          77aaac22f1b5abcb3c63bfb624c142a3
   tail          0a57381d2ccdc17a5773eed2f98cdaaa
   condition                                 None
   label                                     None
   bundle                                   False
   class_name                                Edge
   dtype: object]},
 'in': {'098acfd938f85e4940a9d2caf1bc0f11': [ln_id         10d6ae3151651976f770ef3332e63f43
   created             2024-05-14T18:09:10.513156
   metadata                                    {}
   content                                   None
   head          098acfd938f85e4940a9d2caf1bc0f11
   tail          77aaac22f1b5abcb3c63bfb624c142a3
   condition                                 None
   label                                     None
   bundle                                   False
   class_name                                Edge
   dtype: object]}}

In [9]:
len(a.edges)

2

In [10]:
a.edges.to_df()

,ln_id,created,metadata,content,head,tail,condition,label,bundle
0,10d6ae3151651976f770ef3332e63f43,2024-05-14T18:09:10.513156,{},None,098acfd938f85e4940a9d2caf1bc0f11,77aaac22f1b5abcb3c63bfb624c142a3,None,None,False
1,bf0e358eb8e832f9c27ffa42e43fa972,2024-05-14T18:09:10.512921,{},None,77aaac22f1b5abcb3c63bfb624c142a3,0a57381d2ccdc17a5773eed2f98cdaaa,None,None,False

In [11]:
a.related_nodes

['098acfd938f85e4940a9d2caf1bc0f11', '0a57381d2ccdc17a5773eed2f98cdaaa']

In [12]:
a.edges.to_df()

,ln_id,created,metadata,content,head,tail,condition,label,bundle
0,10d6ae3151651976f770ef3332e63f43,2024-05-14T18:09:10.513156,{},None,098acfd938f85e4940a9d2caf1bc0f11,77aaac22f1b5abcb3c63bfb624c142a3,None,None,False
1,bf0e358eb8e832f9c27ffa42e43fa972,2024-05-14T18:09:10.512921,{},None,77aaac22f1b5abcb3c63bfb624c142a3,0a57381d2ccdc17a5773eed2f98cdaaa,None,None,False

In [13]:
a.relations["in"].to_df()

,ln_id,created,metadata,content,head,tail,condition,label,bundle
0,10d6ae3151651976f770ef3332e63f43,2024-05-14T18:09:10.513156,{},None,098acfd938f85e4940a9d2caf1bc0f11,77aaac22f1b5abcb3c63bfb624c142a3,None,None,False

In [14]:
a.unrelate(b)

True

In [15]:
a.related_nodes

['098acfd938f85e4940a9d2caf1bc0f11']

In [16]:
a.edges.to_df()

,ln_id,created,metadata,content,head,tail,condition,label,bundle
0,10d6ae3151651976f770ef3332e63f43,2024-05-14T18:09:10.513156,{},None,098acfd938f85e4940a9d2caf1bc0f11,77aaac22f1b5abcb3c63bfb624c142a3,None,None,False

In [17]:
a.node_relations

{'out': {},
 'in': {'098acfd938f85e4940a9d2caf1bc0f11': [ln_id         10d6ae3151651976f770ef3332e63f43
   created             2024-05-14T18:09:10.513156
   metadata                                    {}
   content                                   None
   head          098acfd938f85e4940a9d2caf1bc0f11
   tail          77aaac22f1b5abcb3c63bfb624c142a3
   condition                                 None
   label                                     None
   bundle                                   False
   class_name                                Edge
   dtype: object]}}

In [18]:
len(a.edges)

1

In [19]:
a.related_nodes

['098acfd938f85e4940a9d2caf1bc0f11']

In [20]:
print(a)

ln_id        77aaac22f1b5abcb3c63bfb624c142a3
created            2024-05-14T18:09:10.509760
metadata                                   {}
content                                  None
relations                              [1, 0]
dtype: object