In [1]:
import lionagi as li

In [2]:
# lets create a simple flow
# 1. create a pile of nodes

nodes1 = [li.Node(content=i) for i in range(10)]
p1 = li.pile(nodes1)

In [3]:
# let us check what's inside p1

p1.to_df()

,ln_id,created,metadata,content,relations
0,9d920fc2356040954f2fd33d082ddeea,2024-05-14T18:08:42.898584,{},0,{'in': {'ln_id': '951840f85bb11f5202dd3bbf88e9...
1,dc7c6c9c815f4727bceaeda6bf2899f9,2024-05-14T18:08:42.898706,{},1,{'in': {'ln_id': '3c92117c093fa333ad78cf6267ee...
2,30f3d86a01b0e0d836b70d2cc9be3579,2024-05-14T18:08:42.898754,{},2,{'in': {'ln_id': '6549c4c6ecaf1c30613434d225b4...
3,74a784eddef20d499f182e17ecf026ec,2024-05-14T18:08:42.898794,{},3,{'in': {'ln_id': 'a28ab22288ffa2ad2246269dafa1...
4,b20bb5a4150f47378bc55e406dbf6a62,2024-05-14T18:08:42.898839,{},4,{'in': {'ln_id': 'e34255eb4de776e9fa5ae8a8abf6...
5,959cfd1afd1c932c60529f7f05cdcaf2,2024-05-14T18:08:42.899037,{},5,{'in': {'ln_id': 'ceee75a89af391bd7609b85b7fd5...
6,090afbfb5a65e43dc17725d773e7f9d9,2024-05-14T18:08:42.899070,{},6,{'in': {'ln_id': '8532b632f1be95f5e24872ec07e6...
7,df6c8cbb71e4f04b373d6c67ff3208c8,2024-05-14T18:08:42.899095,{},7,{'in': {'ln_id': 'ee682f41a83c0b170cf8f37650d2...
8,6335fed773a0705651cf263f61e9fe19,2024-05-14T18:08:42.899121,{},8,{'in': {'ln_id': '54ae9f1d151b4ef351405a81b5fe...
9,24f1efae52555164217a5a93dde9cd0a,2024-05-14T18:08:42.899562,{},9,{'in': {'ln_id': '89e0d41c2f45d0ee8503e2ba440a...

In [4]:
# now let us create somke progression,

prog1 = li.progression(p1[:5])
prog2 = li.progression(p1[5:])

In [5]:
len(prog1)

1

In [6]:
prog1.ln_id

'9b737d8b20239a06dab3878d4f2fcc1e'

In [7]:
p = li.pile([prog1, prog2], use_obj=True)

f1 = li.flow(p)

In [8]:
f1.to_df()

                                order  name
0  [9a5d167f743c3d5088894c0d9a0b6888]  None
1  [d46358728aecd49142144c02aa300513]  None

In [9]:
sequences = li.pile(p1[:5])

In [10]:
f1 = li.flow(sequences)

In [11]:
f1.to_df()

                                order                              name
0  [9d920fc2356040954f2fd33d082ddeea]  9d920fc2356040954f2fd33d082ddeea
1  [dc7c6c9c815f4727bceaeda6bf2899f9]  dc7c6c9c815f4727bceaeda6bf2899f9
2  [30f3d86a01b0e0d836b70d2cc9be3579]  30f3d86a01b0e0d836b70d2cc9be3579
3  [74a784eddef20d499f182e17ecf026ec]  74a784eddef20d499f182e17ecf026ec
4  [b20bb5a4150f47378bc55e406dbf6a62]  b20bb5a4150f47378bc55e406dbf6a62

In [12]:
# let us begin with creating a few nodes

nodes = [li.Node(content=i) for i in ["A", "B", "C", "D", "E", "F", "G", "H"]]
print(nodes[0])

ln_id        b50d188cb2ecd77a8e59352ac24ced53
created            2024-05-14T18:08:42.962786
metadata                                   {}
content                                     A
relations                              [0, 0]
dtype: object

In [13]:
# now let us put these into a pile, a lionagi data structure that can be used to store lionagi obejcts
p1 = li.pile(nodes)

# you can check the details of each node by converting the pile to a dataframe
p1.to_df().head()

,ln_id,created,metadata,content,relations
0,b50d188cb2ecd77a8e59352ac24ced53,2024-05-14T18:08:42.962786,{},A,{'in': {'ln_id': '0dbb24e7d52353bd04e7b1f368f4...
1,e80b84f5eeecf72dd60da85fbef29ac6,2024-05-14T18:08:42.962844,{},B,{'in': {'ln_id': '57a11142ecc35117faacc44ff5f2...
2,c1835b81be47923884d9e6fa09662a66,2024-05-14T18:08:42.962879,{},C,{'in': {'ln_id': 'f46045c2ba61ba6ca5b99417b2ed...
3,0067820de5e2ba16dc08bd5266737207,2024-05-14T18:08:42.962910,{},D,{'in': {'ln_id': '1049b18843cce12c0db4fc5e5dcc...
4,a49325c6fa7acd456bcbd846b95e695a,2024-05-14T18:08:42.962939,{},E,{'in': {'ln_id': 'cd392bce1f0bd07fe632848c9905...

In [14]:
# if you wish to see the all information of a particular node you can also

p1[0].to_dict()

{'ln_id': 'b50d188cb2ecd77a8e59352ac24ced53',
 'created': '2024-05-14T18:08:42.962786',
 'metadata': {},
 'content': 'A',
 'relations': {'in': {'ln_id': '0dbb24e7d52353bd04e7b1f368f4571b',
   'created': '2024-05-14T18:08:42.962801',
   'use_obj': False,
   'pile': {},
   'item_type': None,
   'name': None,
   'order': []},
  'out': {'ln_id': 'a5c16e28fa3ee09ab43971b8f031d462',
   'created': '2024-05-14T18:08:42.962826',
   'use_obj': False,
   'pile': {},
   'item_type': None,
   'name': None,
   'order': []}}}

In [15]:
# using progression, you can use progression to keep track of orders of nodes

prog1 = li.progression(nodes[:5])
prog2 = li.progression(nodes[5:])


# the item in a progression is a list of lionagi object id in order
prog1.order[0]

'b50d188cb2ecd77a8e59352ac24ced53'

In [16]:
prog1[0]

'b50d188cb2ecd77a8e59352ac24ced53'

In [17]:
# you can also name the progression
prog1.name = "left"
prog2.name = "right"

# now let us put these into a flow

f1 = li.flow([prog1, prog2])

In [18]:
prog1.name

'left'

In [19]:
f1.registry

{'left': 'c085e5b03a89b06c8b79488943f6b2ef',
 'right': 'fd668cc69c560815cbce1f24013ab412'}

In [20]:
f1.registry

{'left': 'c085e5b03a89b06c8b79488943f6b2ef',
 'right': 'fd668cc69c560815cbce1f24013ab412'}

In [21]:
f1.get("left")

Progression(['b50d188cb2ecd77a8e59352ac24ced53', 'e80b84f5eeecf72dd60da85fbef29ac6', 'c1835b81be47923884d9e6fa09662a66', '0067820de5e2ba16dc08bd5266737207', 'a49325c6fa7acd456bcbd846b95e695a'])

In [22]:
f1.sequences["left"]

In [23]:
# iterate over each progression value
for i in f1.all_orders():
    print(i)

['b50d188cb2ecd77a8e59352ac24ced53', 'e80b84f5eeecf72dd60da85fbef29ac6', 'c1835b81be47923884d9e6fa09662a66', '0067820de5e2ba16dc08bd5266737207', 'a49325c6fa7acd456bcbd846b95e695a']
['7f55793ad9bcd93e82f2448a5a7e589e', '852239e2362bb86b93a1d85883156428', 'f998854d5d3ac84c3eedbcdeb43089f2']

In [24]:
f1[0]

Progression(['b50d188cb2ecd77a8e59352ac24ced53', 'e80b84f5eeecf72dd60da85fbef29ac6', 'c1835b81be47923884d9e6fa09662a66', '0067820de5e2ba16dc08bd5266737207', 'a49325c6fa7acd456bcbd846b95e695a'])

In [25]:
f1.sequences

                                               order   name
0  [b50d188cb2ecd77a8e59352ac24ced53, e80b84f5eee...   left
1  [7f55793ad9bcd93e82f2448a5a7e589e, 852239e2362...  right

In [26]:
f1.get("left")

Progression(['b50d188cb2ecd77a8e59352ac24ced53', 'e80b84f5eeecf72dd60da85fbef29ac6', 'c1835b81be47923884d9e6fa09662a66', '0067820de5e2ba16dc08bd5266737207', 'a49325c6fa7acd456bcbd846b95e695a'])

In [27]:
f1.registry

{'left': 'c085e5b03a89b06c8b79488943f6b2ef',
 'right': 'fd668cc69c560815cbce1f24013ab412'}

In [28]:
f1.sequences[0].name

'left'

In [29]:
f1['left'][1:3]

['e80b84f5eeecf72dd60da85fbef29ac6', 'c1835b81be47923884d9e6fa09662a66']

In [30]:
f1[prog1][1:3]

['e80b84f5eeecf72dd60da85fbef29ac6', 'c1835b81be47923884d9e6fa09662a66']

In [31]:
prog1[1:3]

['e80b84f5eeecf72dd60da85fbef29ac6', 'c1835b81be47923884d9e6fa09662a66']

In [32]:
# sequences in a flow is a pile of progression objects
# unlike a pile, which can only contain unique lionagi objects, a progression can have more than one occurance of ln_id, 

f1.sequences.to_df()

                                               order   name
0  [b50d188cb2ecd77a8e59352ac24ced53, e80b84f5eee...   left
1  [7f55793ad9bcd93e82f2448a5a7e589e, 852239e2362...  right