### LionAGI pile

pile object is used throughout lionagi system

In [1]:
import lionagi as li

In [2]:
# let us create some nodes and put into pile

nodes1 = [li.Node(content=i) for i in ["A", "B", "C"]]
nodes2 = [li.Node(content=i) for i in ["D", "E", "F"]]

p1 = li.pile(nodes1)
p2 = li.pile(nodes2)

In [3]:
p1.to_df()

,ln_id,created,metadata,content,relations
0,102caf9ee580b710b25eeb5767592c14,2024-05-14T18:09:16.158913,{},A,{'in': {'ln_id': '55ba557f3aa74074a049170acfd2...
1,c066609e00cf5a2e0bf3c21e0c644370,2024-05-14T18:09:16.158990,{},B,{'in': {'ln_id': '7baf0795c3fdb0214e67f4bac17d...
2,b869457da840059c7581bef175390ce8,2024-05-14T18:09:16.159031,{},C,{'in': {'ln_id': '69041a7a2ab1e0547aba9a841797...

In [4]:
## addition

(p1 + p2).to_df()

,ln_id,created,metadata,content,relations
0,102caf9ee580b710b25eeb5767592c14,2024-05-14T18:09:16.158913,{},A,{'in': {'ln_id': '55ba557f3aa74074a049170acfd2...
1,c066609e00cf5a2e0bf3c21e0c644370,2024-05-14T18:09:16.158990,{},B,{'in': {'ln_id': '7baf0795c3fdb0214e67f4bac17d...
2,b869457da840059c7581bef175390ce8,2024-05-14T18:09:16.159031,{},C,{'in': {'ln_id': '69041a7a2ab1e0547aba9a841797...
3,c3d0de8be14afcd6da54cfa98670f61e,2024-05-14T18:09:16.159088,{},D,{'in': {'ln_id': 'fcb86941538c801505fc1324c3fb...
4,950e880830e708bb8f7154c96e91fcc1,2024-05-14T18:09:16.159128,{},E,{'in': {'ln_id': 'aa14f3a406f68869b4aab3bb3b91...
5,2b8583964002a911fd431f7975a0e1e5,2024-05-14T18:09:16.159165,{},F,{'in': {'ln_id': '8285bda8a5c0399513c7bffa75d4...

In [5]:
p1.to_df()

,ln_id,created,metadata,content,relations
0,102caf9ee580b710b25eeb5767592c14,2024-05-14T18:09:16.158913,{},A,{'in': {'ln_id': '55ba557f3aa74074a049170acfd2...
1,c066609e00cf5a2e0bf3c21e0c644370,2024-05-14T18:09:16.158990,{},B,{'in': {'ln_id': '7baf0795c3fdb0214e67f4bac17d...
2,b869457da840059c7581bef175390ce8,2024-05-14T18:09:16.159031,{},C,{'in': {'ln_id': '69041a7a2ab1e0547aba9a841797...

In [6]:
## subtraction

try:
    (p1-p2).to_df()
except Exception as e:
    print(e)

Item not found. Item: '                              ln_id                     created metadata  \
0  c3d0de8be14afcd6da54cfa98670f61e  2024-05-14T18:09:16.159088       {}
1  950e880830e708bb8f7154c96e91fcc1  2024-05-14T18:09:16.159128       {}
2  2b8583964002a911fd431f7975a0e1e5  2024-05-14T18:09:16.159165       {}

  content                                          relations
0       D  {'in': {'ln_id': 'fcb86941538c801505fc1324c3fb...
1       E  {'in': {'ln_id': 'aa14f3a406f68869b4aab3bb3b91...
2       F  {'in': {'ln_id': '8285bda8a5c0399513c7bffa75d4...  '.

In [7]:
## containment

p1 in p2

False

In [8]:
## inclusion

print(p1.include(p2))
p1.to_df()

True

,ln_id,created,metadata,content,relations
0,102caf9ee580b710b25eeb5767592c14,2024-05-14T18:09:16.158913,{},A,{'in': {'ln_id': '55ba557f3aa74074a049170acfd2...
1,c066609e00cf5a2e0bf3c21e0c644370,2024-05-14T18:09:16.158990,{},B,{'in': {'ln_id': '7baf0795c3fdb0214e67f4bac17d...
2,b869457da840059c7581bef175390ce8,2024-05-14T18:09:16.159031,{},C,{'in': {'ln_id': '69041a7a2ab1e0547aba9a841797...
3,c3d0de8be14afcd6da54cfa98670f61e,2024-05-14T18:09:16.159088,{},D,{'in': {'ln_id': 'fcb86941538c801505fc1324c3fb...
4,950e880830e708bb8f7154c96e91fcc1,2024-05-14T18:09:16.159128,{},E,{'in': {'ln_id': 'aa14f3a406f68869b4aab3bb3b91...
5,2b8583964002a911fd431f7975a0e1e5,2024-05-14T18:09:16.159165,{},F,{'in': {'ln_id': '8285bda8a5c0399513c7bffa75d4...

In [9]:
## exclusion

print(p1.exclude(p2))
p1.to_df()

True

,ln_id,created,metadata,content,relations
0,102caf9ee580b710b25eeb5767592c14,2024-05-14T18:09:16.158913,{},A,{'in': {'ln_id': '55ba557f3aa74074a049170acfd2...
1,c066609e00cf5a2e0bf3c21e0c644370,2024-05-14T18:09:16.158990,{},B,{'in': {'ln_id': '7baf0795c3fdb0214e67f4bac17d...
2,b869457da840059c7581bef175390ce8,2024-05-14T18:09:16.159031,{},C,{'in': {'ln_id': '69041a7a2ab1e0547aba9a841797...
3,950e880830e708bb8f7154c96e91fcc1,2024-05-14T18:09:16.159128,{},E,{'in': {'ln_id': 'aa14f3a406f68869b4aab3bb3b91...
4,2b8583964002a911fd431f7975a0e1e5,2024-05-14T18:09:16.159165,{},F,{'in': {'ln_id': '8285bda8a5c0399513c7bffa75d4...

In [10]:
## get item

aa = p2[0]
aa

ln_id        c3d0de8be14afcd6da54cfa98670f61e
created            2024-05-14T18:09:16.159088
metadata                                   {}
content                                     D
relations                              [0, 0]
dtype: object

In [11]:
## set item

p1[0] = li.Node(content="have a good day")
p1.to_df()

,ln_id,created,metadata,content,relations
0,6874c777af09952bc9db24e52745c098,2024-05-14T18:09:16.214631,{},have a good day,{'in': {'ln_id': 'efa328ecf720d568716b44212cd2...
1,c066609e00cf5a2e0bf3c21e0c644370,2024-05-14T18:09:16.158990,{},B,{'in': {'ln_id': '7baf0795c3fdb0214e67f4bac17d...
2,b869457da840059c7581bef175390ce8,2024-05-14T18:09:16.159031,{},C,{'in': {'ln_id': '69041a7a2ab1e0547aba9a841797...
3,950e880830e708bb8f7154c96e91fcc1,2024-05-14T18:09:16.159128,{},E,{'in': {'ln_id': 'aa14f3a406f68869b4aab3bb3b91...
4,2b8583964002a911fd431f7975a0e1e5,2024-05-14T18:09:16.159165,{},F,{'in': {'ln_id': '8285bda8a5c0399513c7bffa75d4...

In [12]:
# p1[:4] = li.pile([li.Node(content="have a good day") for i in range(4)])

In [13]:
p1.insert(0, li.Node(content="have a good day"))

In [14]:
p1.to_df()

,ln_id,created,metadata,content,relations
0,82a650696fe8b92ec0ef236be1381935,2024-05-14T18:09:16.225187,{},have a good day,{'in': {'ln_id': '3c8dcbb238fcca4eaa2f32fbd91d...
1,6874c777af09952bc9db24e52745c098,2024-05-14T18:09:16.214631,{},have a good day,{'in': {'ln_id': 'efa328ecf720d568716b44212cd2...
2,c066609e00cf5a2e0bf3c21e0c644370,2024-05-14T18:09:16.158990,{},B,{'in': {'ln_id': '7baf0795c3fdb0214e67f4bac17d...
3,b869457da840059c7581bef175390ce8,2024-05-14T18:09:16.159031,{},C,{'in': {'ln_id': '69041a7a2ab1e0547aba9a841797...
4,950e880830e708bb8f7154c96e91fcc1,2024-05-14T18:09:16.159128,{},E,{'in': {'ln_id': 'aa14f3a406f68869b4aab3bb3b91...
5,2b8583964002a911fd431f7975a0e1e5,2024-05-14T18:09:16.159165,{},F,{'in': {'ln_id': '8285bda8a5c0399513c7bffa75d4...

In [15]:
## other
node = li.Node(content="hello world")
p1 += node
p1.to_df()

,ln_id,created,metadata,content,relations
0,82a650696fe8b92ec0ef236be1381935,2024-05-14T18:09:16.225187,{},have a good day,{'in': {'ln_id': '3c8dcbb238fcca4eaa2f32fbd91d...
1,6874c777af09952bc9db24e52745c098,2024-05-14T18:09:16.214631,{},have a good day,{'in': {'ln_id': 'efa328ecf720d568716b44212cd2...
2,c066609e00cf5a2e0bf3c21e0c644370,2024-05-14T18:09:16.158990,{},B,{'in': {'ln_id': '7baf0795c3fdb0214e67f4bac17d...
3,b869457da840059c7581bef175390ce8,2024-05-14T18:09:16.159031,{},C,{'in': {'ln_id': '69041a7a2ab1e0547aba9a841797...
4,950e880830e708bb8f7154c96e91fcc1,2024-05-14T18:09:16.159128,{},E,{'in': {'ln_id': 'aa14f3a406f68869b4aab3bb3b91...
5,2b8583964002a911fd431f7975a0e1e5,2024-05-14T18:09:16.159165,{},F,{'in': {'ln_id': '8285bda8a5c0399513c7bffa75d4...
6,0ddfb68e130ca4164d94d24c46d8fea5,2024-05-14T18:09:16.235632,{},hello world,{'in': {'ln_id': '45ea8751010a8bcba073c759053e...

In [16]:
# you can remove an element from the pile by -= an object directly
p1 -= nodes1[1] # the original sequence second element was B
p1.to_df()

,ln_id,created,metadata,content,relations
0,82a650696fe8b92ec0ef236be1381935,2024-05-14T18:09:16.225187,{},have a good day,{'in': {'ln_id': '3c8dcbb238fcca4eaa2f32fbd91d...
1,6874c777af09952bc9db24e52745c098,2024-05-14T18:09:16.214631,{},have a good day,{'in': {'ln_id': 'efa328ecf720d568716b44212cd2...
2,b869457da840059c7581bef175390ce8,2024-05-14T18:09:16.159031,{},C,{'in': {'ln_id': '69041a7a2ab1e0547aba9a841797...
3,950e880830e708bb8f7154c96e91fcc1,2024-05-14T18:09:16.159128,{},E,{'in': {'ln_id': 'aa14f3a406f68869b4aab3bb3b91...
4,2b8583964002a911fd431f7975a0e1e5,2024-05-14T18:09:16.159165,{},F,{'in': {'ln_id': '8285bda8a5c0399513c7bffa75d4...
5,0ddfb68e130ca4164d94d24c46d8fea5,2024-05-14T18:09:16.235632,{},hello world,{'in': {'ln_id': '45ea8751010a8bcba073c759053e...

In [17]:
# p1.to_graph()

In [18]:
nodes1[1] in p1

False

In [19]:
try:
    p1 - nodes1[1]
except Exception as e:
    print(e)

Item not found. Item: 'ln_id        c066609e00cf5a2e0bf3c21e0c644370
created            2024-05-14T18:09:16.158990
metadata                                   {}
content                                     B
relations                              [0, 0]
dtype: object'.

In [20]:
a = li.pile()
b = li.pile()

list(a + b)

[]

In [21]:
len([True, True])

2