In [1]:
from lionagi.core.generic import Node

In [2]:
# create 10 nodes
a, b, c = Node(), Node(), Node()

In [3]:
a.relate(b,"out")       # outgoing relation, a is head
a.relate(c,"in")        # incoming relation, a is tail

In [4]:
a.precedessors

['c5e142915999258a6721b8f722cc7e79']

In [5]:
a.successors

['6abc2bcf50d9c4d2df36425095fcbca0']

In [6]:
for i in a.edges:
    print(i)

ln_id         397d4decf2e3deeb9806f0d2c9188c9e
created             2024-05-08T17:13:47.392870
metadata                                    {}
content                                   None
head          c5e142915999258a6721b8f722cc7e79
tail          951659a54e7f52aa766ba5860d64399f
condition                                 None
label                                     None
bundle                                   False
class_name                                Edge
dtype: object
ln_id         edf4c66eac7613dba930ce608f8e541d
created             2024-05-08T17:13:47.392757
metadata                                    {}
content                                   None
head          951659a54e7f52aa766ba5860d64399f
tail          6abc2bcf50d9c4d2df36425095fcbca0
condition                                 None
label                                     None
bundle                                   False
class_name                                Edge
dtype: object

In [7]:
a.related_nodes

['6abc2bcf50d9c4d2df36425095fcbca0', 'c5e142915999258a6721b8f722cc7e79']

In [8]:
a.node_relations

{'out': {'6abc2bcf50d9c4d2df36425095fcbca0': [ln_id         edf4c66eac7613dba930ce608f8e541d
   created             2024-05-08T17:13:47.392757
   metadata                                    {}
   content                                   None
   head          951659a54e7f52aa766ba5860d64399f
   tail          6abc2bcf50d9c4d2df36425095fcbca0
   condition                                 None
   label                                     None
   bundle                                   False
   class_name                                Edge
   dtype: object]},
 'in': {'c5e142915999258a6721b8f722cc7e79': [ln_id         397d4decf2e3deeb9806f0d2c9188c9e
   created             2024-05-08T17:13:47.392870
   metadata                                    {}
   content                                   None
   head          c5e142915999258a6721b8f722cc7e79
   tail          951659a54e7f52aa766ba5860d64399f
   condition                                 None
   label                                     None
   bundle                                   False
   class_name                                Edge
   dtype: object]}}

In [9]:
len(a.edges)

2

In [10]:
a.edges.to_df()

,ln_id,created,metadata,content,head,tail,condition,label,bundle
0,397d4decf2e3deeb9806f0d2c9188c9e,2024-05-08T17:13:47.392870,{},None,c5e142915999258a6721b8f722cc7e79,951659a54e7f52aa766ba5860d64399f,None,None,False
1,edf4c66eac7613dba930ce608f8e541d,2024-05-08T17:13:47.392757,{},None,951659a54e7f52aa766ba5860d64399f,6abc2bcf50d9c4d2df36425095fcbca0,None,None,False

In [11]:
a.related_nodes

['6abc2bcf50d9c4d2df36425095fcbca0', 'c5e142915999258a6721b8f722cc7e79']

In [12]:
a.edges.to_df()

,ln_id,created,metadata,content,head,tail,condition,label,bundle
0,397d4decf2e3deeb9806f0d2c9188c9e,2024-05-08T17:13:47.392870,{},None,c5e142915999258a6721b8f722cc7e79,951659a54e7f52aa766ba5860d64399f,None,None,False
1,edf4c66eac7613dba930ce608f8e541d,2024-05-08T17:13:47.392757,{},None,951659a54e7f52aa766ba5860d64399f,6abc2bcf50d9c4d2df36425095fcbca0,None,None,False

In [13]:
a.relations["in"].to_df()

,ln_id,created,metadata,content,head,tail,condition,label,bundle
0,397d4decf2e3deeb9806f0d2c9188c9e,2024-05-08T17:13:47.392870,{},None,c5e142915999258a6721b8f722cc7e79,951659a54e7f52aa766ba5860d64399f,None,None,False

In [14]:
a.unrelate(b)

True

In [15]:
a.related_nodes

['c5e142915999258a6721b8f722cc7e79']

In [16]:
a.edges.to_df()

,ln_id,created,metadata,content,head,tail,condition,label,bundle
0,397d4decf2e3deeb9806f0d2c9188c9e,2024-05-08T17:13:47.392870,{},None,c5e142915999258a6721b8f722cc7e79,951659a54e7f52aa766ba5860d64399f,None,None,False

In [17]:
a.node_relations

{'out': {},
 'in': {'c5e142915999258a6721b8f722cc7e79': [ln_id         397d4decf2e3deeb9806f0d2c9188c9e
   created             2024-05-08T17:13:47.392870
   metadata                                    {}
   content                                   None
   head          c5e142915999258a6721b8f722cc7e79
   tail          951659a54e7f52aa766ba5860d64399f
   condition                                 None
   label                                     None
   bundle                                   False
   class_name                                Edge
   dtype: object]}}

In [18]:
len(a.edges)

1

In [19]:
a.related_nodes

['c5e142915999258a6721b8f722cc7e79']

In [20]:
print(a)

ln_id        951659a54e7f52aa766ba5860d64399f
created            2024-05-08T17:13:47.389494
metadata                                   {}
content                                  None
relations                              [1, 0]
dtype: object