In [1]:
from generic import pile

In [2]:
# you can create a pile object by calling the constructor directly
# Pile class constructor takes only keyword arguments

items = [pile() for _ in range(10)]  # first we create 10 pile objects
item1 = items[0]

In [3]:
# or you can use the pile function
# you can specify the type of the items in the pile,

a = pile(items)

In [4]:
len(a)

10

In [5]:
b = a.to_df()

In [6]:
b

,ln_id,created,metadata,content,items,item_type,name
0,dc21bf5c03c7643adce4880180d67974,2024-05-06T22:12:29.954100,{},None,{},None,None
1,3f5cb3921c1fcc729ab7dea71f7ba61b,2024-05-06T22:12:29.954118,{},None,{},None,None
2,cf51960aa8f011eecf8156215c960a2f,2024-05-06T22:12:29.954128,{},None,{},None,None
3,53be21cb9e5964d6ae2ed79a92f4d8e1,2024-05-06T22:12:29.954137,{},None,{},None,None
4,6c2d7fdae5d337b4126a2859a1c890e5,2024-05-06T22:12:29.954145,{},None,{},None,None
5,1aab742fdd2d2cd6d6d378bbb4757493,2024-05-06T22:12:29.954153,{},None,{},None,None
6,4701959617cfec077ab6efe9797f00a6,2024-05-06T22:12:29.954164,{},None,{},None,None
7,486c910aa072bd98afb0dd231d7f6a2b,2024-05-06T22:12:29.954173,{},None,{},None,None
8,094201d04da1a637059b9e7ff7a5870e,2024-05-06T22:12:29.954183,{},None,{},None,None
9,1a78849bb07fa84525284850df4e890b,2024-05-06T22:12:29.954189,{},None,{},None,None

### Dictionary-like methods

In [7]:
for i in a.keys():
    print(i)

dc21bf5c03c7643adce4880180d67974
3f5cb3921c1fcc729ab7dea71f7ba61b
cf51960aa8f011eecf8156215c960a2f
53be21cb9e5964d6ae2ed79a92f4d8e1
6c2d7fdae5d337b4126a2859a1c890e5
1aab742fdd2d2cd6d6d378bbb4757493
4701959617cfec077ab6efe9797f00a6
486c910aa072bd98afb0dd231d7f6a2b
094201d04da1a637059b9e7ff7a5870e
1a78849bb07fa84525284850df4e890b

In [8]:
values = a.values()

In [9]:
print(a)

                              ln_id                     created metadata  \
0  dc21bf5c03c7643adce4880180d67974  2024-05-06T22:12:29.954100       {}
1  3f5cb3921c1fcc729ab7dea71f7ba61b  2024-05-06T22:12:29.954118       {}
2  cf51960aa8f011eecf8156215c960a2f  2024-05-06T22:12:29.954128       {}
3  53be21cb9e5964d6ae2ed79a92f4d8e1  2024-05-06T22:12:29.954137       {}
4  6c2d7fdae5d337b4126a2859a1c890e5  2024-05-06T22:12:29.954145       {}
5  1aab742fdd2d2cd6d6d378bbb4757493  2024-05-06T22:12:29.954153       {}
6  4701959617cfec077ab6efe9797f00a6  2024-05-06T22:12:29.954164       {}
7  486c910aa072bd98afb0dd231d7f6a2b  2024-05-06T22:12:29.954173       {}
8  094201d04da1a637059b9e7ff7a5870e  2024-05-06T22:12:29.954183       {}
9  1a78849bb07fa84525284850df4e890b  2024-05-06T22:12:29.954189       {}

  content items item_type  name
0    None    {}      None  None
1    None    {}      None  None
2    None    {}      None  None
3    None    {}      None  None
4    None    {}      None  None
5    None    {}      None  None
6    None    {}      None  None
7    None    {}      None  None
8    None    {}      None  None
9    None    {}      None  None

In [10]:
a.values()

dict_values([Empty DataFrame
Columns: []
Index: [], Empty DataFrame
Columns: []
Index: [], Empty DataFrame
Columns: []
Index: [], Empty DataFrame
Columns: []
Index: [], Empty DataFrame
Columns: []
Index: [], Empty DataFrame
Columns: []
Index: [], Empty DataFrame
Columns: []
Index: [], Empty DataFrame
Columns: []
Index: [], Empty DataFrame
Columns: []
Index: [], Empty DataFrame
Columns: []
Index: []])

In [11]:
items = a.items()
list(items)

[('dc21bf5c03c7643adce4880180d67974',
  Empty DataFrame
  Columns: []
  Index: []),
 ('3f5cb3921c1fcc729ab7dea71f7ba61b',
  Empty DataFrame
  Columns: []
  Index: []),
 ('cf51960aa8f011eecf8156215c960a2f',
  Empty DataFrame
  Columns: []
  Index: []),
 ('53be21cb9e5964d6ae2ed79a92f4d8e1',
  Empty DataFrame
  Columns: []
  Index: []),
 ('6c2d7fdae5d337b4126a2859a1c890e5',
  Empty DataFrame
  Columns: []
  Index: []),
 ('1aab742fdd2d2cd6d6d378bbb4757493',
  Empty DataFrame
  Columns: []
  Index: []),
 ('4701959617cfec077ab6efe9797f00a6',
  Empty DataFrame
  Columns: []
  Index: []),
 ('486c910aa072bd98afb0dd231d7f6a2b',
  Empty DataFrame
  Columns: []
  Index: []),
 ('094201d04da1a637059b9e7ff7a5870e',
  Empty DataFrame
  Columns: []
  Index: []),
 ('1a78849bb07fa84525284850df4e890b',
  Empty DataFrame
  Columns: []
  Index: [])]

#### get methods

In [12]:
# all equivalent ways to get an item from a pile
get_a = a[item1]
get_b = a[item1.ln_id]
get_c = a.get(item1)
get_d = a.get(item1.ln_id)

all([i == item1 for i in [get_a, get_b, get_c, get_d]])

True

#### set methods

In [13]:
pile_2 = pile()

a[pile_2] = pile_2
a[pile_2.ln_id] = pile_2

# containment checks an LionIDable object
print(pile_2 in a)
print(pile_2.ln_id in a)

True
True

In [14]:
pile_3 = pile()

a.include(pile_3)

print(pile_3 in a)

True

#### remove methods

In [15]:
# pop will return an obj
a.pop(pile_3)

Empty DataFrame
Columns: []
Index: []

In [16]:
pile_3 in a

False

In [17]:
# remove won't return anything
a.remove(pile_2)
pile_2 in a

False

In [18]:
# you cannot remove an object that is not in the pile
try:
    a.remove(pile_2)
except Exception as e:
    print(e)

Item not found. Item: 'Empty DataFrame
Columns: []
Index: []'.

In [19]:
# but using exclude will not raise an error
a.exclude(pile_2)

True

In [20]:
a.exclude(item1)
item1 in a

False

### Utility methods

In [21]:
a.is_homogenous()

True

In [22]:
a.clear()

In [23]:
a.is_empty()

True

## Magic Methods

In [24]:
pile1 = pile()
pile2 = pile()
pile3 = pile()

In [25]:
# include an item

for i in [pile1, pile2, pile3]:
    a += i

pile1 in a

True

In [26]:
# when including items already included, we ignore them

a += pile1
len(a)

3

In [27]:
a -= pile1
pile1 in a

False

In [28]:
len(a)

2

In [29]:
from lionagi.core.generic import Node

In [30]:
node1, node2 = Node(), Node()
c, d = pile(node1), pile([node2])

In [31]:
c+d

                              ln_id                     created metadata  \
0  8b8e0c3b9a9ed3e5bfb40682340c43f1  2024-05-06T22:12:30.141741       {}
1  cba8cfac97a9f04a5b4a9bba08afa2a5  2024-05-06T22:12:30.141929       {}

  content                                          relations  \
0    None  {'ln_id': 'f52d55c2286451b134b12c21b252478b', ...
1    None                                                NaN

                                               items  item_type  name
0                                                NaN        NaN   NaN
1  {'390c95a25e32656dda47e9db6e50b35d': {'ln_id':...        NaN   NaN

In [32]:
c

                              ln_id                     created metadata  \
0  8b8e0c3b9a9ed3e5bfb40682340c43f1  2024-05-06T22:12:30.141741       {}

  content                                          relations
0    None  {'ln_id': 'f52d55c2286451b134b12c21b252478b', ...

In [33]:
c+d

                              ln_id                     created metadata  \
0  8b8e0c3b9a9ed3e5bfb40682340c43f1  2024-05-06T22:12:30.141741       {}
1  cba8cfac97a9f04a5b4a9bba08afa2a5  2024-05-06T22:12:30.141929       {}

  content                                          relations  \
0    None  {'ln_id': 'f52d55c2286451b134b12c21b252478b', ...
1    None                                                NaN

                                               items  item_type  name
0                                                NaN        NaN   NaN
1  {'390c95a25e32656dda47e9db6e50b35d': {'ln_id':...        NaN   NaN

In [34]:
(c+d)[:2]

[ln_id        8b8e0c3b9a9ed3e5bfb40682340c43f1
 created            2024-05-06T22:12:30.141741
 metadata                                   {}
 content                                  None
 relations                              [0, 0]
 dtype: object,
                               ln_id                     created metadata  \
 0  390c95a25e32656dda47e9db6e50b35d  2024-05-06T22:12:30.141834       {}

   content                                          relations
 0    None  {'ln_id': 'afe1e203f81aa68abc5a7418913fd0ec', ...  ]

In [35]:
c[0]

ln_id        8b8e0c3b9a9ed3e5bfb40682340c43f1
created            2024-05-06T22:12:30.141741
metadata                                   {}
content                                  None
relations                              [0, 0]
dtype: object