### LionAGI pile

pile object is used throughout lionagi system

In [1]:
import lionagi as li

In [2]:
# let us create some nodes and put into pile

nodes1 = [li.Node(content=i) for i in ["A", "B", "C"]]
nodes2 = [li.Node(content=i) for i in ["D", "E", "F"]]

p1 = li.pile(nodes1)
p2 = li.pile(nodes2)

In [3]:
p1.to_df()

,ln_id,created,metadata,content,relations
0,969a2a8266462a4a2a12068c6962d577,2024-05-08T15:48:13.115267,{},A,{'in': {'ln_id': 'f5c8dcc84bdd25ab5a8fb840fbe5...
1,e6f997a1c82727edbc71084f25333ac5,2024-05-08T15:48:13.115306,{},B,{'in': {'ln_id': '3ddab81c852743f8649863c51d7c...
2,ed4fc6ccdbe58cf1f79a00d48e7800bd,2024-05-08T15:48:13.115330,{},C,{'in': {'ln_id': '87972a098dda8426a25c14776da1...

In [4]:
## addition

(p1 + p2).to_df()

,ln_id,created,metadata,content,relations
0,969a2a8266462a4a2a12068c6962d577,2024-05-08T15:48:13.115267,{},A,{'in': {'ln_id': 'f5c8dcc84bdd25ab5a8fb840fbe5...
1,e6f997a1c82727edbc71084f25333ac5,2024-05-08T15:48:13.115306,{},B,{'in': {'ln_id': '3ddab81c852743f8649863c51d7c...
2,ed4fc6ccdbe58cf1f79a00d48e7800bd,2024-05-08T15:48:13.115330,{},C,{'in': {'ln_id': '87972a098dda8426a25c14776da1...
3,44089c37091c44e412de3825a3b46ed1,2024-05-08T15:48:13.115374,{},D,{'in': {'ln_id': 'de33539161911ca28014069fe1a6...
4,23a10d094e7ee7617fa193a5a9fefdb1,2024-05-08T15:48:13.115397,{},E,{'in': {'ln_id': '428b4c672cb40fc61e0b62438921...
5,4145b8ec5c76f8ce04164332c5b219b6,2024-05-08T15:48:13.115419,{},F,{'in': {'ln_id': '69d15f8f09c771b18854801bcda5...

In [5]:
p1.to_df()

,ln_id,created,metadata,content,relations
0,969a2a8266462a4a2a12068c6962d577,2024-05-08T15:48:13.115267,{},A,{'in': {'ln_id': 'f5c8dcc84bdd25ab5a8fb840fbe5...
1,e6f997a1c82727edbc71084f25333ac5,2024-05-08T15:48:13.115306,{},B,{'in': {'ln_id': '3ddab81c852743f8649863c51d7c...
2,ed4fc6ccdbe58cf1f79a00d48e7800bd,2024-05-08T15:48:13.115330,{},C,{'in': {'ln_id': '87972a098dda8426a25c14776da1...

In [6]:
## subtraction

try:
    (p1-p2).to_df()
except Exception as e:
    print(e)

Item not found. Item: '                              ln_id                     created metadata  \
0  44089c37091c44e412de3825a3b46ed1  2024-05-08T15:48:13.115374       {}
1  23a10d094e7ee7617fa193a5a9fefdb1  2024-05-08T15:48:13.115397       {}
2  4145b8ec5c76f8ce04164332c5b219b6  2024-05-08T15:48:13.115419       {}

  content                                          relations
0       D  {'in': {'ln_id': 'de33539161911ca28014069fe1a6...
1       E  {'in': {'ln_id': '428b4c672cb40fc61e0b62438921...
2       F  {'in': {'ln_id': '69d15f8f09c771b18854801bcda5...  '.

In [7]:
## containment

p1 in p2

False

In [8]:
## inclusion

print(p1.include(p2))
p1.to_df()

True

,ln_id,created,metadata,content,relations
0,969a2a8266462a4a2a12068c6962d577,2024-05-08T15:48:13.115267,{},A,{'in': {'ln_id': 'f5c8dcc84bdd25ab5a8fb840fbe5...
1,e6f997a1c82727edbc71084f25333ac5,2024-05-08T15:48:13.115306,{},B,{'in': {'ln_id': '3ddab81c852743f8649863c51d7c...
2,ed4fc6ccdbe58cf1f79a00d48e7800bd,2024-05-08T15:48:13.115330,{},C,{'in': {'ln_id': '87972a098dda8426a25c14776da1...
3,44089c37091c44e412de3825a3b46ed1,2024-05-08T15:48:13.115374,{},D,{'in': {'ln_id': 'de33539161911ca28014069fe1a6...
4,23a10d094e7ee7617fa193a5a9fefdb1,2024-05-08T15:48:13.115397,{},E,{'in': {'ln_id': '428b4c672cb40fc61e0b62438921...
5,4145b8ec5c76f8ce04164332c5b219b6,2024-05-08T15:48:13.115419,{},F,{'in': {'ln_id': '69d15f8f09c771b18854801bcda5...

In [9]:
## exclusion

print(p1.exclude(p2))
p1.to_df()

True

,ln_id,created,metadata,content,relations
0,969a2a8266462a4a2a12068c6962d577,2024-05-08T15:48:13.115267,{},A,{'in': {'ln_id': 'f5c8dcc84bdd25ab5a8fb840fbe5...
1,e6f997a1c82727edbc71084f25333ac5,2024-05-08T15:48:13.115306,{},B,{'in': {'ln_id': '3ddab81c852743f8649863c51d7c...
2,ed4fc6ccdbe58cf1f79a00d48e7800bd,2024-05-08T15:48:13.115330,{},C,{'in': {'ln_id': '87972a098dda8426a25c14776da1...
3,23a10d094e7ee7617fa193a5a9fefdb1,2024-05-08T15:48:13.115397,{},E,{'in': {'ln_id': '428b4c672cb40fc61e0b62438921...
4,4145b8ec5c76f8ce04164332c5b219b6,2024-05-08T15:48:13.115419,{},F,{'in': {'ln_id': '69d15f8f09c771b18854801bcda5...

In [10]:
## get item

aa = p2[0]
aa

ln_id        44089c37091c44e412de3825a3b46ed1
created            2024-05-08T15:48:13.115374
metadata                                   {}
content                                     D
relations                              [0, 0]
dtype: object

In [11]:
## set item

p1[0] = li.Node(content="have a good day")
p1.to_df()

,ln_id,created,metadata,content,relations
0,c2bbd75960d26954d5b3f5c0f29fb50e,2024-05-08T15:48:13.201606,{},have a good day,{'in': {'ln_id': '7c165c20314f8fce37eeb6d9ed78...
1,e6f997a1c82727edbc71084f25333ac5,2024-05-08T15:48:13.115306,{},B,{'in': {'ln_id': '3ddab81c852743f8649863c51d7c...
2,ed4fc6ccdbe58cf1f79a00d48e7800bd,2024-05-08T15:48:13.115330,{},C,{'in': {'ln_id': '87972a098dda8426a25c14776da1...
3,23a10d094e7ee7617fa193a5a9fefdb1,2024-05-08T15:48:13.115397,{},E,{'in': {'ln_id': '428b4c672cb40fc61e0b62438921...
4,4145b8ec5c76f8ce04164332c5b219b6,2024-05-08T15:48:13.115419,{},F,{'in': {'ln_id': '69d15f8f09c771b18854801bcda5...

In [12]:
# p1[:4] = li.pile([li.Node(content="have a good day") for i in range(4)])

In [13]:
p1.insert(0, li.Node(content="have a good day"))

In [14]:
p1.to_df()

,ln_id,created,metadata,content,relations
0,45f5a0db21fa5df1123209f2d0c1ba23,2024-05-08T15:48:13.214495,{},have a good day,{'in': {'ln_id': '323907231385698e6c2bac859c8c...
1,c2bbd75960d26954d5b3f5c0f29fb50e,2024-05-08T15:48:13.201606,{},have a good day,{'in': {'ln_id': '7c165c20314f8fce37eeb6d9ed78...
2,e6f997a1c82727edbc71084f25333ac5,2024-05-08T15:48:13.115306,{},B,{'in': {'ln_id': '3ddab81c852743f8649863c51d7c...
3,ed4fc6ccdbe58cf1f79a00d48e7800bd,2024-05-08T15:48:13.115330,{},C,{'in': {'ln_id': '87972a098dda8426a25c14776da1...
4,23a10d094e7ee7617fa193a5a9fefdb1,2024-05-08T15:48:13.115397,{},E,{'in': {'ln_id': '428b4c672cb40fc61e0b62438921...
5,4145b8ec5c76f8ce04164332c5b219b6,2024-05-08T15:48:13.115419,{},F,{'in': {'ln_id': '69d15f8f09c771b18854801bcda5...

In [15]:
## other
node = li.Node(content="hello world")
p1 += node
p1.to_df()

,ln_id,created,metadata,content,relations
0,45f5a0db21fa5df1123209f2d0c1ba23,2024-05-08T15:48:13.214495,{},have a good day,{'in': {'ln_id': '323907231385698e6c2bac859c8c...
1,c2bbd75960d26954d5b3f5c0f29fb50e,2024-05-08T15:48:13.201606,{},have a good day,{'in': {'ln_id': '7c165c20314f8fce37eeb6d9ed78...
2,e6f997a1c82727edbc71084f25333ac5,2024-05-08T15:48:13.115306,{},B,{'in': {'ln_id': '3ddab81c852743f8649863c51d7c...
3,ed4fc6ccdbe58cf1f79a00d48e7800bd,2024-05-08T15:48:13.115330,{},C,{'in': {'ln_id': '87972a098dda8426a25c14776da1...
4,23a10d094e7ee7617fa193a5a9fefdb1,2024-05-08T15:48:13.115397,{},E,{'in': {'ln_id': '428b4c672cb40fc61e0b62438921...
5,4145b8ec5c76f8ce04164332c5b219b6,2024-05-08T15:48:13.115419,{},F,{'in': {'ln_id': '69d15f8f09c771b18854801bcda5...
6,019a7cbb3c4c8a0d8167abd7a149237b,2024-05-08T15:48:13.227713,{},hello world,{'in': {'ln_id': 'f5b7667dfe8f3c46fa918db9b039...

In [16]:
p1 -= nodes1[1]
p1.to_df()

,ln_id,created,metadata,content,relations
0,45f5a0db21fa5df1123209f2d0c1ba23,2024-05-08T15:48:13.214495,{},have a good day,{'in': {'ln_id': '323907231385698e6c2bac859c8c...
1,c2bbd75960d26954d5b3f5c0f29fb50e,2024-05-08T15:48:13.201606,{},have a good day,{'in': {'ln_id': '7c165c20314f8fce37eeb6d9ed78...
2,ed4fc6ccdbe58cf1f79a00d48e7800bd,2024-05-08T15:48:13.115330,{},C,{'in': {'ln_id': '87972a098dda8426a25c14776da1...
3,23a10d094e7ee7617fa193a5a9fefdb1,2024-05-08T15:48:13.115397,{},E,{'in': {'ln_id': '428b4c672cb40fc61e0b62438921...
4,4145b8ec5c76f8ce04164332c5b219b6,2024-05-08T15:48:13.115419,{},F,{'in': {'ln_id': '69d15f8f09c771b18854801bcda5...
5,019a7cbb3c4c8a0d8167abd7a149237b,2024-05-08T15:48:13.227713,{},hello world,{'in': {'ln_id': 'f5b7667dfe8f3c46fa918db9b039...

In [17]:
nodes1[1] in p1

False

In [18]:
try:
    p1 - nodes1[1]
except Exception as e:
    print(e)

Item not found. Item: 'ln_id        e6f997a1c82727edbc71084f25333ac5
created            2024-05-08T15:48:13.115306
metadata                                   {}
content                                     B
relations                              [0, 0]
dtype: object'.

In [19]:
a = li.pile()
b = li.pile()

list(a + b)

[]

In [20]:
len([True, True])

2